.justify {
  margin-right: 210px;
  font-size: 14px;
  font-weight: 500;
}
.linkImg {
  display: flex;
}
.linkWord {
  font-family: Roboto;
  font-style: normal;
  color: #2f88f0;
  font-size: 14px;
  font-weight: 500;
  margin-right: 220px;
}
.navbarOne {
  height: 60px;
  margin-left: 210px;
  
}
.navbarTwo {
  height: 30px;
  margin-left: 210px;
}
.navbar-brand {
  font-family: Roboto;
  font-size: 14px;
}
.me-auto {
  font-size: 14px;
  font-weight: 500;
  color: black;
}
